{% extends 'base.html.twig' %}

{% set active = 'cp_task' %}

{% set title = 'Update Task'%}

{% set breadcrumbs = [
    {
        'link': path('cp_task'), 'title': 'Home',
    },
    {
        'title': 'Update Task'
    }
] %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% form_theme form 'form/form.inline.html.twig' %}
    <div class="card">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}